{lib_dirs, ["deps"]}.    %%папка где лежат зависимости

{erl_opts, [
	{parse_transform, lager_transform},
        warnings_as_errors, debug_info]}.

{deps, [
	%% =====================================================================================
	%% Logging Framework
        {lager, "2.0.0",        {git, "https://github.com/basho/lager.git", {tag, "2.0.0"}}},
	%% =====================================================================================
	%% Postgresql Driver
        {epgsql, ".*",          {git, "https://github.com/wg/epgsql", "master"}},
	%% =====================================================================================
	%% Pool Manager
	      {poolboy, "1.2.1",      {git, "https://github.com/devinus/poolboy/",         "1.2.1"}},
	%% =====================================================================================
	%% Server Html Templates
       %{erlydtl, ".*",         {git, "https://github.com/evanmiller/erlydtl.git", "master"}},
	%% =====================================================================================
	%% Redis Client
	      %{eredis, ".*",          {git, "git@git.ceb.loc:erlang/eredis.git",          "master"}},
	%% =====================================================================================
	%% Json Parser
	      {jsx, ".*",             {git, "https://github.com/talentdeficit/jsx.git",   "master"}},
	%% =====================================================================================
	%% Xml Parser
        {exomler, ".*",         {git, "https://github.com/vkletsko/exomler.git", "master"}},
	%% =====================================================================================
	%% Rabbit
	%{rabbit_common, ".*",   {git, "git@git.ceb.loc:erlang/rabbit_common.git",   {tag, "3.3.1"}}},
        %{amqp_client, "3.3.1",  {git, "git@git.ceb.loc:erlang/amqp_client.git",     {tag, "3.3.1"}}},
	%% =====================================================================================
	%% Web-Server
	    	{cowboy, ".*",          {git, "https://github.com/ninenines/cowboy.git",          {tag, "1.0.0"}}}
    ]}.
  
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{eunit_opts, [
                verbose,
                {report, {eunit_surefire, [{dir, "."}]}}
            ]
}.

{clean_files, ["deps", "ebin"]}.
